@{
    ViewBag.Title = "Turno";
    <link rel="stylesheet" href="~/css/Turno.css" asp-append-version="true" />
}

<div class="container">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="card col-6 ">
            <div class="card-body text-center">
                <i class="bi bi-check2-circle"></i>
                <h4 >Turno Agregado Correctamente</h4>
                <h1>@ViewBag.TurnoText</h1>
            </div>
        </div>
    </div>
</div> 

<script>
    setTimeout(function() {
        window.location.href = '@Url.Action("Index", "Usuarios")';
    }, 5000);
</script>
