@{
    ViewBag.Title = "usuario no encontrado";
    <link rel="stylesheet" href="~/css/Turno.css" asp-append-version="true" />

}

<div class="container">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <div class="card col-6 ">
            <div class="card-body text-center" >
                <i class="bi bi-person-fill-x" style="color: red;"></i>
                <h4 style="color: red;" >Usuario no encontrado</h4>
            </div>
        </div>
    </div>
</div> 

<script>
    setTimeout(function() {
        window.location.href = '@Url.Action("Index", "Usuarios")';
    }, 2000);
</script>