@{
    ViewBag.Title = "Usuario";
    ViewBag.Css = "usuario.css";
}

<h2 class="text-center mt-5">Seleccione el servicio</h2>

<section class="section-user">
    <div class="container-service">
        <div class="fs-4">Información general</div>
    </div>
    <div class="container-service">
        <div class="fs-4">Atención prioritaria</div>
    </div>
</section>
<div class="d-flex justify-content-center mt-4">
    <button class="btn bg-success text-white" style="margin-top: 100px">Ingresar</button>
</div>