@{
    ViewData["Title"] = "Crear Usuario";
    
}


<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col text-center p-4">
            <h1>Crear Usuario</h1>
        </div>
        <hr class="text-dark">
    </div>
</div>

@model Usuario
<div class="container ">
    <form asp-controller="Recepsion" asp-action="Add" method="post" class="row d-flex justify-content-center align-items-center">
        <div class="card col-8 mt-3">
            <div class="card-body">
                <div class="form-grup mb-4 row">
                    <div class="col-6">
                        <label asp-for="Nombre"></label>
                        <input class="form-control" asp-for="Nombre">
                    </div>

                    <div class="col-6">
                        <label asp-for="Apellido"></label>
                        <input class="form-control" asp-for="Apellido">
                    </div>
                </div>

                <div class="form-grup mb-4 row">
                    <div class="col-6">
                        <label asp-for="Documento"></label>
                        <input class="form-control" asp-for="Documento">
                    </div>

                    <div class="col-6">
                        <label asp-for="CorreoElectronico"></label>
                        <input class="form-control" asp-for="CorreoElectronico">
                    </div>
                </div>

                <div class="form-grup mb-4 row">
                    <div class="col-6">
                        <label asp-for="Direccion"></label>
                        <input class="form-control" asp-for="Direccion">
                    </div>

                    <div class="col-6">
                        <label asp-for="Telefono"></label>
                        <input class="form-control" asp-for="Telefono">
                    </div>
                </div>

                <div class="form-grup mb-4 row">
                    <div class="col-6">
                        <label asp-for="FechaNacimiento">Fecha Nacimiento</label>
                        <input class="form-control" asp-for="FechaNacimiento" type="date">
                    </div>

                    <div class="col-6">
                        <label asp-for="TipoAfiliacion">Tipo Afiliacion</label>
                        <select class="form-control"  asp-for="TipoAfiliacion">
                            <option value=" ">Seleccione Tipo de Afiliación </option>
                            <option value="Cotizante">Cotizante</option>
                            <option value="Beneficiario">Beneficiario</option>
                            <option value="Subsidiado">Subsidiado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between col-8 mt-3">
            <a class="btn btn-outline-dark shadow" asp-controller="Recepsion" asp-action="Index">Atras</a>
            <button class="btn btn-outline-dark shadow" type="submit">Guardar</button>
        </div>
    </form>

        
</div>