@{
  Layout = null;
}



<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
  </div>
  <div class="offcanvas-body">
    Aqui se mostrara la vista de el turno en curso.
  </div>
  <div class="offcanvas-body">
    Prueba de subida.
  </div>
</div>