@{
    ViewData["Title"] = "Lista de Espera";
}

@{
    List<string> turnoTextList = new List<string>();
    List<string> atencionPrioritariaList = new List<string>();
    int count = 0;

    foreach (var turno in Model)
    {
        if (turno.Estado == "En espera")
        {
            string turnoText = "";
            switch (turno.TipoServicio)
            {
                case "Solicitud de citas":
                    turnoText = "SC-" + turno.Id;
                    break;
                case "Autorizaci贸n de medicamentos":
                    turnoText = "AM-" + turno.Id;
                    break;
                case "Pago de facturas":
                    turnoText = "PF-" + turno.Id;
                    break;
                case "Informaci贸n en general":
                    turnoText = "IG-" + turno.Id;
                    break;
                case "Atenci贸n Prioritaria":
                    turnoText = "AP-" + turno.Id;
                    break;
            }

            if (!string.IsNullOrEmpty(turnoText))
            {
                if (turnoText.StartsWith("AP-"))
                {
                    atencionPrioritariaList.Add(turnoText);
                }
                else
                {
                    turnoTextList.Add(turnoText);
                }

                count++;
                if (count >= 4)
                {
                    break;
                }
            }
        }
    }
    turnoTextList.InsertRange(0, atencionPrioritariaList);
}



<div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="televisor mb-2 " >
            <div class="col-12 text-center mb-3" >
                <img src="~/img/Logo.png" alt="Logo" style="width: 250px;">
            </div>
            <div class="card p-0 mb-3" style="max-height: 50vh;">
                <div class="d-flex " >
                    <div class="col-4"  >
                        <table class="table table-bordered m-0 text-center" >
                            <tr>
                                <th>Estado</th>
                                <th>Turno</th>
                            </tr>
                            @for (int i = 0; i < turnoTextList.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <p>En espera</p>
                                        </td>
                                        <td>
                                            <p>@turnoTextList[i]</p>
                                        </td>
                                    </tr>
                                }
                            
                        </table>
                    </div>
                    <div class="col-8 d-flex justify-content-center align-items-center">
                        <div class="column text-center">
                            <h3 style="color: red;">Turno</h3>
                            <h3>@ViewBag.TurnoText</h3>
                            <h3 style="color: red;">M贸dulo 1</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
        window.location.href = '@Url.Action("Index", "Televisor")';
    }, 3000);
</script>